.container{
    margin: 100px auto;
    width: 600px;
    height: 450px;
    background: linear-gradient(#e66465, #9198e5);
    border: 1px solid gray;
    border-radius: 10px;
}

.title{
    text-align: center;
    color: white;
    margin: 10px auto;
}

.number-input{
    width: 225px;
    margin-left: 30px;
    background-color: white;
}

.number-label{
    width: 70px; 
    margin-left: 130px;   
    text-align: center;
    color: white;
}

.number-container{
    display: grid;
    grid-template-columns: 200px 200px;
}

.form-container{
    margin: 50px auto;
}

.buttons{
    display: inline;
    margin-left: 132px;
}

.btn{
    margin-right: 5px;
}

.result{
    display: block;
    width: 300px;
    text-align: center;
    margin: 20px auto;
    border-bottom: 1px solid white;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
}

.reset{
    position: relative;
    float: right;
    background-color: rgb(162, 167, 162);
    border: 1px solid gray;
}

.reset:hover{
    background-color: rgb(115, 117, 115);
    border: 1px solid gray;
}

.reset:focus{
    background-color: rgb(115, 117, 115);
    border: 1px solid gray;
}

@media(max-width:600px){

    .container{
        width: 80%;
        height: 650px;
        margin: 10px auto;
    }

    .form-container{
        margin: 15px auto;
    }

    .number-container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .number-label{
        margin: 0 auto;
    }

    .number-input{
        margin: 0 auto;
    }

    .buttons{
        display: grid;
        margin: 30px auto 0px;
    }

    .result{
        width: 90%;
        margin-top: 20px;
    }

}